<div class="task task-item <%= '-done' if task.done? %>" data-id="<%= task.id %>" draggable="true">

  <% if task.done? %>
    <%= link_to '', [:unfinish, task], method: :patch, class: 'task-item--toggle',
      'up-target': '.task',
      'up-preview': 'unfinish-task'
    %>
  <% else %>
    <%= link_to '', [:finish, task], method: :patch, class: 'task-item--toggle',
      'up-target': '.task',
      'up-preview': 'finish-task'
    %>
  <% end %>

  <span class="task-item--text">
    <%= task.text %>
  </span>
  <%= link_to 'Edit', [:edit, task], class: "task-item--edit btn btn-sm btn-secondary",
    'up-preview': 'btn-spinner',
    'up-target': '.task'
  %>
</div>
