<template id="long-index-skeleton">
  <%= render 'skeletons/index', rows: 15 %>
</template>

<template id="long-table-skeleton">
  <%= render 'skeletons/table', rows: 15 %>
</template>

<template id="short-index-skeleton">
  <%= render 'skeletons/index', rows: 5 %>
</template>

<template id="short-table-skeleton">
  <%= render 'skeletons/table', rows: 5 %>
</template>

<template id="show-skeleton">
  <%= render 'skeletons/show' %>
</template>

<template id="form-skeleton">
  <%= render 'skeletons/form' %>
</template>

<template id="popup-spinner">
  <div class="popup-spinner"></div>
</template>
