<%= form_for @project, html: { 'up-submit': '' } do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <div class="input-group">
      <%= form.text_field :name, class: 'form-control', autocomplete: 'off' %>
      <div class="input-group-append">
        <span class="input-group-text">
          <%= link_to 'Suggest name', suggest_name_projects_path,
            'up-layer': 'popup',
            'up-align': 'right',
            'up-accept-event': 'name:select',
            'up-on-accepted': "up.fragment.get('#project_name').value = value.name"
          %>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :company_id %>
    <div class="input-group">
      <%= form.collection_select :company_id, Company.order(:name), :id, :name, { include_blank: '<Select a company>' }, class: 'custom-select' %>
      <div class="input-group-append">
        <span class="input-group-text">
          <%= link_to 'New company', new_company_path,
            'up-layer': 'new',
            'up-accept-location': company_path('$id'),
            'up-on-accepted': "up.validate('form', { params: { 'project[company_id]': value.id } })"
          %>
        </span>
      </div>
    </div>
  </div>

  <%= form.submit "Save", class: 'btn btn-primary mt-2' %>

<% end %>
