<div class="row mb-4">
  <div class="col">
    <h2>Project #<%= @project.id %></h2>
  </div>

  <div class="col-sm-auto">
    <%= link_to 'Edit', [:edit, @project], class: 'btn btn-primary', 'up-follow': '' %>
    <%= link_to 'Delete', @project, method: :delete, 'up-follow': '', 'up-confirm' => 'Really delete?', class: 'btn btn-danger mr-3'  %>
  </div>
</div>

<dl class="my-4">
  <dt>Name</dt>
  <dd><%= @project.name %></dd>
  <dt>Company</dt>
  <dd><%= link_to @project.company.name, @project.company, 'up-layer': 'new', 'up-dismiss-location': projects_path %></dd>
  <dt>Budget</dt>
  <dd><%= number_to_currency(@project.budget, unit: '€') %></dd>
</dl>
