<div class="row mb-4">
  <div class="col">
    <h2>
      Project #<%= @project.id %>

      <% if up.context[:from_company] %>
        <%= tour_dot do %>
          <p>
            This overlay reuses the template that is also used for the
            <%= link_to 'Projects', projects_path, 'up-layer': 'root' %> section
            in the main navigation.
          </p>
        <% end %>
      <% end %>
    </h2>
  </div>

  <div class="col-sm-auto">
    <%= tour_dot(overlay_only: true) do %>
      <p>Note how the <i>Edit</i> link renders within this overlay.</p>
      <p>Links and forms always update their own layer unless another layer is targeted explicitly.</p>
    <% end %>

    <%= link_to 'Edit', [:edit, @project], 'up-follow': true, 'up-skeleton': '#form-skeleton', class: 'btn btn-primary' %>
    <%= link_to 'Delete', @project, method: :delete, 'up-follow': true, 'up-preview': 'btn-spinner', 'up-confirm' => 'Really delete?', class: 'btn btn-danger mr-3'  %>
  </div>
</div>

<dl class="my-4">
  <dt>Name</dt>
  <dd><%= @project.name %></dd>

  <dt>Company</dt>
  <dd>
    <%= link_to @project.company.name, @project.company, 'up-layer': 'swap', 'up-dismiss-location': projects_path %>
    <%= tour_dot do %>
      <p>This link uses an <code>[up-layer=swap]</code> attribute to replace this overlay instead of stacking on top of it.</p>
    <% end %>
  </dd>

  <dt>Budget</dt>
  <dd><%= number_to_currency(@project.budget, unit: '€') %></dd>
</dl>
