<div class="row align-items-center mb-4">
  <div class="col">
    <h2>Company #<%= @company.id %></h2>
  </div>

  <div class="col-sm-auto">
    <%= tour_dot(overlay_only: true) do %>
      <p>Note how the <i>Edit</i> link renders within this overlay.</p>
      <p>Links and forms always update their own layer unless another layer is targeted explicitly.</p>
    <% end %>

    <%= link_to 'Edit', [:edit, @company],
      class: 'btn btn-primary',
      'up-follow': true,
      'up-preview': 'main-spinner'
    %>

    <%= link_to 'Delete', @company, method: :delete,
      class: 'btn btn-danger',
      'up-follow': true,
      'up-confirm': 'Really delete?',
      'up-preview': 'btn-spinner'
    %>
  </div>
</div>

<dl>
  <dt>Name</dt>
  <dd><%= @company.name %></dd>
  <dt>Address</dt>
  <dd>
    <% if @company.address.present? %>
      <%= safe_join(@company.address.lines, '<br>'.html_safe) %>
    <% else %>
      &mdash;
    <% end %>
  </dd>
</dl>

<div class="row mb-2">
  <div class="col">
    <h4>Projects</h4>
  </div>

  <div class="col-sm-auto">
    <div class="col-sm-auto">
      <%= tour_dot(position: 'left') do %>
        <p>
          This button re-uses the project form that we already built for the <i>Projects</i> tab.
        </p>

        <p>
          When a new project was created, the overlay closes and the project list is reloaded.
        </p>
      <% end %>
      <%= link_to 'Add project', new_project_path(project: { company_id: @company.id }), class: 'btn btn-primary btn-sm',
        'up-layer': 'new',
        'up-placeholder': '#form-placeholder',
        'up-accept-location': project_path('$id'),
        'up-on-accepted': "up.reload('#projects', { placeholder: '#table-placeholder { rows: 5 }' })",
        'up-context': { from_company: true }.to_json
      %>
    </div>
  </div>
</div>

<div id="projects">
  <% if @company.projects.present? %>
    <table class="table table-sm">
      <thead>
      <th>Name</th>
      <th>Budget</th>
      </thead>
      <tbody>
        <% @company.projects.natural_sort_by(&:name).each_with_index do |project, i| %>
          <tr>
            <td>
              <%= link_to project.name, project,
                'up-layer': 'new',
                'up-placeholder': '#show-placeholder',
                'up-dismiss-event': 'project:destroyed',
                'up-on-dismissed': "up.reload('#projects', { placeholder: '#table-placeholder { rows: 5 }' })",
                'up-context': { from_company: true }.to_json
              %>
              <%= tour_dot(overlay_only: true) do %>
                <p>Opening the project will open another modal over this one.</p>
                <p>Overlays can be stacked infinitely.</p>
              <% end if i == 0%>
            </td>
            <td align="right">
              <%= number_to_currency(project.budget, unit: '€') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      This company has no projects yet.
    </p>
  <% end %>
</div>
