<div class="row mb-4">
  <div class="col">
    <h2>Company #<%= @company.id %></h2>
  </div>

  <div class="col-sm-auto">
    <%= link_to 'Edit', [:edit, @company], class: 'btn btn-primary', 'up-follow': '' %>
    <%= link_to 'Delete', @company, method: :delete, 'up-follow': '', 'up-confirm' => 'Really delete?', class: 'btn btn-danger mr-3'  %>
  </div>
</div>

<dl>
  <dt>Name</dt>
  <dd><%= @company.name %></dd>
  <dt>Address</dt>
  <dd>
    <% if @company.address.present? %>
      <%= safe_join(@company.address.lines, '<br>'.html_safe) %>
    <% else %>
      &mdash;
    <% end %>
  </dd>
</dl>

<% if @company.projects.present? %>

  <h4>Projects</h4>

  <ul>
    <% @company.projects.natural_sort_by(&:name).each do |project| %>
      <li><%= link_to project.name, project, 'up-layer': 'new', 'up-dismiss-location': projects_path %></li>
    <% end %>
  </ul>

<% end %>
