<div class="fragment-explainer" up-hungry up-if-layer="any" up-fixed="bottom">

  <div class="fragment-explainer--cell">
    <small>Updated selector:</small>
    <br>

    <% if fragment_explainer.up? %>
      <code><%= fragment_explainer.updated_selector %></code>
    <% else %>
      <span class="text-muted">Initial page load</span>
    <% end %>
  </div>

  <div class="fragment-explainer--cell">
    <small>Server-side code:</small>
    <br>
    <a href="<%= fragment_explainer.controller_github_url %>" target="_blank" title="<%= fragment_explainer.controller_short_path %>">Controller</a>
    /
    <a href="<%= fragment_explainer.view_github_url %>" target="_blank" title="<%= fragment_explainer.view_short_path %>">View</a>
  </div>

  <% if up? %>
    <div class="fragment-explainer--cell">
      <small>Perceived load time:</small>
      <br>
      <output class="rtt"></output>
    </div>
  <% end %>

</div>
