<div class="fragment-explainer d-none d-lg-flex" up-fixed="bottom">

  <div class="fragment-explainer--cell" style="min-width: 170px">
    <div class="fragment-explainer--label">Last fragment:</div>
    <code class="fragment-explainer--target">html</code>
    (<a href="#" class="fragment-explainer--reveal">reveal</a>)
  </div>

  <div class="fragment-explainer--cell">
    <div class="fragment-explainer--label">Server-side code:</div>
    <div class="fragment-explainer--server-code" up-hungry up-if-layer="any">
      <a href="<%= fragment_explainer.controller_github_url %>" target="_blank" title="<%= fragment_explainer.controller_short_path %>">Controller</a>
      /
      <a href="<%= fragment_explainer.view_github_url %>" target="_blank" title="<%= fragment_explainer.view_short_path %>">View</a>
    </div>
  </div>

  <div class="fragment-explainer--cell d-none">
    <div class="fragment-explainer--label">Last request:</div>
    <code class="fragment-explainer--request">GET <%= request.path %></code>
  </div>

  <div class="fragment-explainer--cell">
    <div class="fragment-explainer--label">Round-trip:</div>
    <div class="fragment-explainer--rtt">
      <span class="text-muted">(initial load)</span>
    </div>
  </div>

  <div class="fragment-explainer--cell">
    <form id="config">
      <div class="form-check my-0">
        <input class="form-check-input" type="checkbox" name="disableCache" value="true" id="configDisableCache">
        <label class="form-check-label" for="configDisableCache">Disable cache</label>
      </div>
      <div class="form-check my-0">
        <input class="form-check-input" type="checkbox" name="showClicks" value="true" id="configShowClicks">
        <label class="form-check-label" for="configShowClicks">Show clicks</label>
      </div>
      <div class="form-check my-0">
        <input class="form-check-input" type="checkbox" name="noPreviews" value="true" id="configNoPreviews">
        <label class="form-check-label" for="configNoPreviews">No previews</label>
      </div>
      <div class="form-check my-0">
        <input class="form-check-input" type="checkbox" name="extraLatency" value="true" id="configExtraLatency">
        <label class="form-check-label" for="configExtraLatency">Extra server delay</label>
      </div>
      <div class="form-check my-0">
        <input class="form-check-input" type="checkbox" name="showFragments" value="true" id="configShowFragments">
        <label class="form-check-label" for="configShowFragments">Show fragments</label>
      </div>
      <div class="form-check my-0">
        <input class="form-check-input" type="checkbox" name="noMotion" value="true" id="configNoMotion">
        <label class="form-check-label" for="configNoMotion">No animation</label>
      </div>
    </form>
  </div>

</div>
