<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
  <%= link_to 'ERP Demo', root_path, class: 'navbar-brand' %>
  <div class="navbar-nav">
    <%= link_to 'Companies', companies_path, class: 'nav-item nav-link', 'up-follow': '', 'up-alias' => company_path('*') %>
    <%= link_to 'Projects', projects_path, class: 'nav-item nav-link', 'up-follow': '', 'up-alias' => project_path('*') %>
    <%= link_to 'Budgets', budgets_path, class: 'nav-item nav-link', 'up-follow': '', 'up-alias' => budget_path('*') %>
    <%= link_to 'Tasks', tasks_path, class: 'nav-item nav-link', 'up-follow': '', 'up-alias' => task_path('*') %>
  </div>
</nav>
