<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unpoly Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1'>
    <%= javascript_include_tag 'application', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag("favicon.png") %>
  </head>

  <body>
    <% unless up? %>
      <%= render 'layouts/nav' %>

      <div class="text-secondary" id="new-version" hidden up-anchored="right">
        A newer version is available!
        <a href="javascript:location.reload()" class="btn btn-secondary btn-sm ms-2">Reload</a>
      </div>

      <div class="flashes-explainer" up-anchored="right">
        <%= tour_dot(position: 'left') do %>
          <p>
            The element after this one uses the <code>[up-flashes]</code> attribute
            to extract notification messages from any response, even
            if this container wasn't targeted.
          </p>

          <p>
            A <a href="https://unpoly.com/up.compiler">compiler</a> removes any <code>&lt;div class="alert"&gt;</code>
            after some seconds.
          </p>
        <% end %>
        Notifications go here
      </div>
    <% end %>

    <div up-flashes up-anchored="right">
      <%= flashes %>
    </div>

    <div class="container">
      <main>
        <%= yield %>
      </main>
    </div>

    <%= render 'layouts/fragment_explainer' %>

    <% unless up? %>
      <template id="index-skeleton">
        <%= render 'skeletons/index' %>
      </template>

      <template id="table-skeleton">
        <%= render 'skeletons/table' %>
      </template>

      <template id="show-skeleton">
        <%= render 'skeletons/show' %>
      </template>

      <template id="form-skeleton">
        <%= render 'skeletons/form' %>
      </template>

      <template id="popup-spinner">
        <div class="popup-spinner"></div>
      </template>
    <% end %>

  </body>
</html>
